.headerActions {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: space-between;
  border-bottom: 1px solid rgba(100, 98, 98, 0.65);
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  flex: 1 1 auto;
}

.yourChecks {
  position: relative;
}

.yourChecksTop {
  position: absolute;
  max-width: 800px;
  width: 100%;
  top: 0;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  background: #121212;
  @media (max-width: 768px) {
    max-width: 390px;
  }
}

.checkTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  font-size: 27px;
  font-weight: 600;
  @media(max-width: 768px) {
    font-size: 24px;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.subtitle {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.51);
  font-weight: 400;
}

.checkTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yourChecksBody {
  padding-top: 145px;
}

.checkList {
  height: 61vh;
  overflow-y: auto;
  position: relative;
}

@media (max-height: 750px) {
  .checkList {
  height: 59vh;
  }
}

@media (max-height: 710px) {
  .checkList {
  height: 57vh;
  }
}

@media (max-height: 682px) {
  .checkList {
  height: 55vh;
  }
}

@media (max-height: 620px) {
  .checkList {
  height: 53vh;
  }
}

@media (max-height: 597px) {
  .checkList {
  height: 51vh;
  }
}

@media (max-height: 575px) {
  .checkList {
  height: 49vh;
  }
}

@media (max-height: 550px) {
  .checkList {
  height: 47vh;
  }
}

@media (max-height: 535px) {
  .checkList {
  height: 45vh;
  }
}

@media (max-height: 510px) {
  .checkList {
  height: 42vh;
  }
}

@media (max-height: 480px) {
  .checkList {
  height: 39vh;
  }
}

@media (max-height: 460px) {
  .checkList {
  height: 36vh;
  }
}

@media (max-height: 445px) {
  .checkList {
  height: 34vh;
  }
}

@media (max-height: 425px) {
  .checkList {
  height: 32vh;
  }
}

@media (max-height: 410px) {
  .checkList {
  height: 30vh;
  }
}

@media (max-height: 400px) {
  .checkList {
  height: 28vh;
  }
}

.pureCheck {
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}