.headerActions {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: space-between;
  border-bottom: 1px solid rgba(100, 98, 98, 0.65);
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  flex: 1 1 auto;
}

.checkTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.headerTitle {
  font-size: 27px;
  font-weight: 600;
  @media(max-width: 768px) {
    font-size: 24px;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.subtitle {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.51);
  font-weight: 400;
}

.checkTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkList {
  height: 63vh;
  overflow-y: auto;
  position: relative;
}

@media (max-height: 750px) {
  .checkList {
  height: 60vh;
  }
}

@media (max-height: 700px) {
  .checkList {
  height: 55vh;
  }
}

@media (max-height: 630px) {
  .checkList {
  height: 50vh;
  }
}

@media (max-height: 560px) {
  .checkList {
  height: 45vh;
  }
}

@media (max-height: 550px) {
  .checkList {
  height: 44vh;
  }
}

.pureCheck {
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.yourChecks {
  position: relative;
  padding-top: 130px;
}

.yourChecksTop {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5;
}