.qrCode {
    position: absolute;
    top: 76% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141414;
    &Button {
      position: absolute;
      top: -30px;
      right: -30px;
    }
}
