.headerForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 5px;
  @media (min-width: 768px) {
      margin-bottom: 30px;
  }
}

.form {
  &Label {
      font-size: 1.125rem;
      margin-bottom: 1.25rem;
  }
  &Block {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.25rem;
  }
  &Input {
      font-size: 1.125rem;
      padding: 0.875rem 1.25rem;
      border-radius: 0.625rem;
      background: #1c1c1c;
      color: #fff;
      &::placeholder {
          color: #4b4b4b;
      }
  }
  &Subtext {
      font-size: 0.75rem;
      margin-top: 0.9375rem;
      color: #999;
  }
  &Select {
      &Block {
          position: relative;
          display: inline-block;
      }
      &Arrow {
          position: absolute;
          top: 50%;
          right: 0.75rem;
          transform: translateY(-50%);
          pointer-events: none;
      }
  }
  &Option {
      padding: 0.75rem 0.75rem 0.75rem 1.25rem;
      background: #1c1c1c;
      &:hover {
          background-color: #f2f2f2;
          outline: none;
      }
      &:checked {
          background-color: #e1f5fe;
          font-weight: bold;
      }
      &:focus {
          outline: none;
      }
      &:checked::selection {
          background-color: transparent;
      }
  }
}

.error {
    color: #E64646;
    padding-top: 6px;
    font-size: 12px;
}

.checkboxContainer {
    margin: 25px 0;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

.alert {
    color: #E64646;
    margin-top: 5px;
    font-size: 14px;
}

.multicheckAlert {
    font-size: 12px;
}

.checkboxInput {
    display: none;
}

.customCheckbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.customCheckbox.checked {
    background-color: #00FF00;
    border-color: #00FF00;
}

.checkboxIcon {
    color: white;
}