.headerForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .3125rem;
  margin-bottom: 2.5rem;
  @media (min-width: 768px) {
    margin-bottom: 3.125rem;
  }
}

.form {
  &Label {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
  }
  &Block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
  }
  &Input {
    font-size: 1.125rem;
    padding: 0.875rem 1.25rem;
    border-radius: 0.625rem;
    background: #1c1c1c;
    color: #fff;
    &::placeholder {
        color: #4b4b4b;
    }
  }
}

.errorText {
  color: #E64646;
  padding-top: 6px;
  font-size: 12px;
}

.item {
  padding: 0.4375rem 0 0.9375rem 0;
  border-bottom: 1px solid rgba(100, 98, 98, 0.1);
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  justify-content: space-between;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  flex: 1;
}

.description {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  text-align: right;
}