.qrContent {
  margin-top: 1.75rem;
}

.qr {
  position: relative;
  margin: 0 auto 3.125rem auto;
  width: 307px;
  height: 392px;
  display: flex;
  justify-content: center;
  align-items: center;
  &Camera {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.form {
  &Label {
      font-size: 1.125rem;
      margin-bottom: 1.25rem;
  }
  &Block {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.25rem;
  }
  &Input {
      font-size: 1.125rem;
      padding: 0.875rem 1.25rem;
      border-radius: 0.625rem;
      background: #1c1c1c;
      color: #fff;
      &::placeholder {
          color: #4b4b4b;
      }
  }
}