.qrContent {
  margin-top: 1.75rem;
}

.qr {
  position: relative;
  margin: 0 auto 3.125rem auto;
  width: 307px;
  height: 392px;
  display: flex;
  justify-content: center;
  align-items: center;
  &Camera {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
