.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

.smallButton {
  padding: 0.5rem;
  background: #1e1e1e;
  border-radius: 50%;
  > svg {
      fill: #fff;
  }
  &:hover {
      background: #2e2e2e;
  }
}

.blackButton {
  font-size: 1.125rem;
  padding: 0.875rem 0.3125rem;
  width: 100%;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: #1c1c1c;
  &:hover {
      background: #2e2e2e;
  }
}

.actionButton {
  padding: 1.1875rem 1.4375rem;
  border-radius: 1.25rem;
  background: #202020;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  @media (min-width: 768px) {
      flex-direction: row-reverse;
      padding: 21px 71px;
  }
  &:hover {
      background: #2e2e2e;
  }
}

.primaryButton {
  width: 100%;
  padding: 0.875rem 0.3125rem;
  font-size: 1.125rem;
  border-radius: 0.625rem;
  border: 0.125rem solid #1c1c1c;
  &:hover {
      background: #202020;
  }
}

.whiteButton {
  font-size: 1.1325rem;
  background: #ffffff;
  color: #000;
  width: 100%;
  min-height: 3.5rem;
  border-radius: 1.25rem;
  font-weight: 500;
  &:hover {
      background: #dad8d8;
  }
}
