.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  &Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: calc(65vh - 70px);
    width: 100%;
    padding-top: 20%;
    box-sizing: border-box;
  }
  &Logo {
    font-size: 45px;
  }
}
