@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,900);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', 'sans-serif';
    font-size: 14px;
    font-weight: 500;

    background: #121212;
    color: #fff;
    overflow: visible;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.container-mobile {
    position: relative;
    max-width: 390px;
    margin: 0 auto;
}

.container-pc {
    position: relative;
    max-width: 800px;
    padding: 0 45px;
    margin: 0 auto;
    border-radius: 20px;
}

section {
    margin: 0 5px;
}

body {
    overflow: overlay;
  }
  
/*--------------------scrollbar--------------------*/
::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-horizontal {
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb-horizontal {
    background-color: transparent;
    border-radius: 6px;
  }  
/*--------------------/scrollbar--------------------*/

/*--------------------connect buton--------------------*/

.go3294896168 {
    box-shadow: none;
}

.go3294896168 {
    color: #FFFFFF;
    padding: 21px 22px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
    svg {
        height: 23px;
        width: 23px;
    }
}

.go3572451881 > button {
    padding: 12px 16px;
    min-width: 148px;
    justify-content: center;
}

.go1487791704 {
    font-style: normal;
    font-weight: 590;
    font-size: 21px !important;
    line-height: 18px;
    color: #ffffff;
}

/*--------------------/connect buton--------------------*/
