@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', 'sans-serif';
  font-size: 14px;
  font-weight: 500;

  background: #0d0d0d;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  position: relative;
  max-width: 390px;
  margin: 0 auto;
}
