@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,900);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #121212;
}

body {
    font-family: 'Manrope', 'sans-serif';
    font-size: 14px;
    font-weight: 500;

    // background: #0d0d0d;

    background: #121212;
    color: #fff;
    overflow: visible;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.container-mobile {
    position: relative;
    max-width: 390px;
    margin: 0 auto;
}

.container-pc {
    position: relative;
    max-width: 800px;
    padding: 0 45px;
    margin: 0 auto;
    border-radius: 20px;
    background: #121212;
}

section {
    margin: 0 5px;
}

body {
    overflow: overlay;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.go3294896168 {
    color: #FFFFFF;
    box-shadow: 0 4px 24px rgba(0,0,0, 0.16);
    padding: 21px 22px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
    svg {
        height: 23px;
        width: 23px;
    }
}

.go1487791704 {
    font-style: normal;
    font-weight: 590;
    font-size: 21px !important;
    line-height: 18px;
    color: #ffffff;
}