.main {
  height: 100vh;
}

.content {
  padding: 4.5625rem 1.375rem 0 1.375rem;
  // overflow-y: auto;
  overflow-x: hidden;
  height: calc(93vh - 5rem);
  @media (max-height: 790px) {
      padding: 1.5rem 1.375rem 0 1.375rem;
      height: calc(94vh - 5rem);
  }
  @media (min-width: 768px) {
      height: 100vh;
      padding: 50px 0 65px 0;
  }
}

.actions {
  position: fixed;
  left: 50%;
  bottom: 2.9375rem;
  transform: translateX(-50%);
  z-index: 10;
  width: 21.5625rem;
  @media (min-width: 768px) {
    width: auto;
  }
  @media (max-height: 790px) {
      bottom: 1.9375rem;
  }
}
